#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* src/styles.css */

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(225, 110, 110);;
}

p {
  font-size: 1.1rem;
  color: #6c757d;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.btn-danger {
  display: inline-block;
  margin-bottom: 20px;
  background-color: rgb(225, 110, 110);
  color: #fff;
}

.output-field span {
  background-color: #8BC34A;
  display: inline-block;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.output-field {
  display: flex;
  justify-content: space-between;
}
